IO_LOC  "TangNano_FLASH_CSN" 60;
IO_PORT "TangNano_FLASH_CSN" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_FLASH_SDI" 62;
IO_PORT "TangNano_FLASH_SDI" IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_FLASH_SDO" 61;
IO_PORT "TangNano_FLASH_SDO" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_FLASH_SCK" 59;
IO_PORT "TangNano_FLASH_SCK" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_WS2812_DIN" 79;
IO_PORT "TangNano_WS2812_DIN" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_LED[0]" 15;
IO_PORT "TangNano_LED[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_LED[1]" 16;
IO_PORT "TangNano_LED[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_LED[2]" 17;
IO_PORT "TangNano_LED[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_LED[3]" 18;
IO_PORT "TangNano_LED[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_LED[4]" 19;
IO_PORT "TangNano_LED[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_LED[5]" 20;
IO_PORT "TangNano_LED[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "TangNano_UART_RX" 70;
IO_PORT "TangNano_UART_RX" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "TangNano_UART_TX" 69;
IO_PORT "TangNano_UART_TX" DRIVE=8 IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "TangNano_RST" 88;
IO_PORT "TangNano_RST" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "TangNano_CLK" 4;
IO_PORT "TangNano_CLK" IO_TYPE=LVCMOS33 PULL_MODE=UP;
