//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C

IO_LOC "gpio_o[0]" 10;
IO_PORT "gpio_o[0]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_o[1]" 11;
IO_PORT "gpio_o[1]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_o[2]" 13;
IO_PORT "gpio_o[2]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_o[3]" 14;
IO_PORT "gpio_o[3]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_o[4]" 15;
IO_PORT "gpio_o[4]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "gpio_o[5]" 16;
IO_PORT "gpio_o[5]" IO_TYPE=LVCMOS33 DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "uart0_rxd_i" 18;
IO_PORT "uart0_rxd_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "uart0_txd_o" 17;
IO_PORT "uart0_txd_o" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "rstn_i" 3;
IO_PORT "rstn_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "clk_i" 52;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
