# The following is the default NEORV32 OCD script adapted to work with the
# Altera FPGAs internal JTAG atom. 
# Adaptations:
#  - use Altera Blaster cable as interface
#  - simplified scripts for single-core usage
#  - set custom ir register addresses with "riscv set_ir" command
#  - removed authentication code

# -------------------------------------------------------------------
# Physical interface configuration.
# -------------------------------------------------------------------

# use Altera Blaster cable as (slow) JTAG connection
source [find interface/altera-usb-blaster.cfg]

# -------------------------------------------------------------------
# Target configuration and (session) initialization.
# -------------------------------------------------------------------

# configures JTAG tap
# EP4CE15F23C8 has id 0x020f20dd
jtag newtap cycloneive tap -irlen 10 -expected-id 0x020f20dd

# attach core
echo "Target: neorv32 single-core"
set TARGETNAME cycloneive.neorv32
target create $TARGETNAME riscv -chain-position cycloneive.tap

# remap IR addresses to USR0 & USR1 from Altera JTAG atom
##riscv set_ir idcode 0x09 inacessible, handled by FPGA atom tap
riscv set_ir dtmcs 0x00c
riscv set_ir dmi 0x00e

# GDB server configuration
##gdb report_data_abort enable
##gdb report_register_access_error enable

# expose NEORV32-specific CSRs
riscv expose_csrs 4032=mxisa
riscv expose_csrs 4033=mxisah

# initialize target
init

# -------------------------------------------------------------------
# Start debug session.
# -------------------------------------------------------------------

reset halt
echo "Target RESET and HALTED. Ready for remote connections."
